h1 {
    font-size: small;
}

.error {
    color: red;
}

.errorDetail {
    color: gray;
    font-size: small;
}

nav a.selected {
    color: orange;
}

.listHeader {
    font-size: large;
    color: darkred;
}

.listEntities li {
    cursor: pointer;
    position: relative;
    background-color: lightblue;
    border-radius: 4px;
}
.listEntities .selected {
    color: black;
    background-color:orange;  
}

.listEntities li:hover {
    color: darkblue;
    background-color: lightgray;
    left: .1em;
}
.listEntities li.selected:hover {
    background-color: darkorange;
}